// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --Tema-claro-fondo: #ffffff;
  --Tema-claro-texto: #000000;
  --Tema-oscuro-fondo: #000000;
  --Tema-oscuro-texto: #ffffff;
  --Tema-titulo: rgb(99, 16, 16);
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}