<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <p>Canciones</p>
  <swiper-container pagination="true" loop="true" slides-per-view="3"
  >
    <swiper-slide *ngFor="let albums of albums" (click)="showSongs(albums.id)">
      <div class="slide-content">
        <img [src]="albums.image"/>
        <p>{{ albums.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <p>Artistas</p>
  <swiper-container pagination="true" loop="true" slides-per-view="3" 
  >
  <swiper-slide *ngFor="let artists of artists" (click)="showSongsByArtists(artists.id)">
    <div class="slide-content">
      <img [src]="artists.image"/>
      <p>{{ artists.name }}</p>
    </div>
  </swiper-slide>
</swiper-container>
</ion-content>